rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // UID do administrador
      let adminUids = ['T9CRmqHdVHXDkrJD27Jnt2Dkt1K2'];
      return request.auth != null && request.auth.uid in adminUids;
    }

    // Nega acesso a todos os documentos por padrão
    match /{document=**} {
      allow read, write: if false;
    }

    // Regra para o contador de acessos
    match /appInfo/acessos {
      allow read: if true;
      allow update: if request.auth != null &&
                       request.resource.data.keys().hasOnly(['count']) &&
                       request.resource.data.count is number;
      allow create, delete: if false;
    }

    // Regras para coleções de conteúdo gerenciadas por administradores
    match /musicas/{musicId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /carouselImages/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /announcements/{announcementId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}