rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // UID do administrador
      let adminUids = ['T9CRmqHdVHXDkrJD27Jnt2Dkt1K2'];
      return request.auth != null && request.auth.uid in adminUids;
    }

    // Nega acesso a todos os documentos por padrão
    match /{document=**} {
      allow read, write: if false;
    }

    // Regra para o contador de acessos
      match /appInfo/acessos {
        allow read: if true;
        // Permite a criação do documento apenas se o contador começar em 1.
        allow create: if request.resource.data.keys().hasOnly(['count']) &&
                         request.resource.data.count == 1;
        // Permite a atualização apenas se o contador for incrementado em exatamente 1.
        allow update: if request.resource.data.keys().hasOnly(['count']) &&
                         request.resource.data.count == resource.data.count + 1;
        allow delete: if false;
      }

    // Regras para coleções de conteúdo gerenciadas por administradores
    match /musicas/{musicId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /carouselImages/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /articles/{articleId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /announcements/{announcementId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}